In [2]:
import pandas as pd
import re
from geopy.geocoders import Nominatim

In [17]:
df = pd.read_csv('FINAL.csv')

In [ ]:
# Cleaning Elon Musk Perception

In [18]:
df

,tweet,date,id,location,id_user,score
0,https://t.co/SHqdpbP3PY : ffdfb166-c9e9-46c2-a...,2022-12-06 23:59:59+00:00,1600278915435601927,"Alsace, France",2669983818,"{'neg': 0.179, 'neu': 0.821, 'pos': 0.0, 'comp..."
1,RT @FDRLST: Why Elon Musk‚Äôs ‚ÄòTwitter Files‚Äô Ma...,2022-12-06 23:59:59+00:00,1600278912676032512,NaN,1597982202800873473,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,RT @mtaibbi: @bariweiss The news that Baker wa...,2022-12-06 23:59:58+00:00,1600278910474027008,"Êüè/Kashiwa, Japan",18410208,"{'neg': 0.0, 'neu': 0.879, 'pos': 0.121, 'comp..."
3,RT @JackPosobiec: BREAKING: Elon Musk slams Wi...,2022-12-06 23:59:58+00:00,1600278908825260033,GOODBYE IL- HELLO Knoxville TN,1382804248019226630,"{'neg': 0.0, 'neu': 0.917, 'pos': 0.083, 'comp..."
4,@AlanVRK @TheBigFoxx @lrozen @lorakolodny The ...,2022-12-06 23:59:57+00:00,1600278906329710593,San Francisco,1345945975,"{'neg': 0.072, 'neu': 0.928, 'pos': 0.0, 'comp..."
...,...,...,...,...,...,...
795,Elon Musk Is a Far-Right Activist - The Atlant...,2022-12-13 16:10:48+00:00,1602697556986777600,United States üá∫üá∏,15870659,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
796,RT @Ramnier: Todo sobre los #TwitterFiles segu...,2022-12-13 16:10:48+00:00,1602697556957462529,NaN,222689246,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
797,RT @ericareport: Do we all share the opinion t...,2022-12-13 16:10:48+00:00,1602697556705828864,NaN,1178065682,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
798,RT @AdamParkhomenko: They attack heroes like A...,2022-12-13 16:10:48+00:00,1602697556479586305,NaN,1476322766311739393,"{'neg': 0.0, 'neu': 0.648, 'pos': 0.352, 'comp..."
799,"RT @PlainSite: 6. Musk and his second ex-wife,...",2022-12-13 16:10:48+00:00,1602697555342921728,"Boise, Idaho",45756906,"{'neg': 0.108, 'neu': 0.594, 'pos': 0.297, 'co..."

In [19]:
list(df['location'])

['Alsace, France',
 nan,
 'Êüè/Kashiwa, Japan',
 'GOODBYE IL- HELLO Knoxville TN',
 'San Francisco',
 'United States',
 nan,
 nan,
 'EVERYWHERE ',
 'Toronto, Ontario, Canada',
 nan,
 'United States',
 nan,
 nan,
 'Virginia, USA',
 'London-Wales-Roaming',
 nan,
 'Alabama, USA',
 'Ojai, CA',
 'Malawi',
 'Kennesaw, GA',
 'Toronto, Ontario, Canada',
 'Omaha, NE',
 nan,
 nan,
 'Orlando, FL',
 'The Great State of Texas',
 nan,
 'Florida, USA',
 nan,
 nan,
 nan,
 'Paris, France',
 'Durham, NC',
 nan,
 nan,
 nan,
 'Independence, LA',
 'Omaha, NE',
 nan,
 'Hamilton, Ontario',
 'Port St Lucie, Florida',
 'Alabama, USA',
 'Greece',
 'Pa',
 'Canada',
 nan,
 nan,
 nan,
 'Virginia Beach, VA',
 'Toronto, Ontario, Canada',
 'Everywhere',
 nan,
 'JACKSON',
 'Ya Daddy Crib ',
 'Earth',
 'Michigan, USA',
 nan,
 'Durban, South Africa',
 nan,
 nan,
 'California, USA',
 'Australia',
 nan,
 nan,
 nan,
 'DFW/Honolulu  Prev: SF/Austin',
 nan,
 'Oregon turning RED',
 'Austin, TX',
 '@legadouribevel',
 nan,
 'Delaware, USA',
 nan,
 'New York',
 nan,
 'Ocean City, MD',
 nan,
 'Lagrange NY',
 nan,
 'Imperatriz, Brasil',
 nan,
 "God's Blessed State",
 nan,
 'Norman, OK',
 nan,
 nan,
 nan,
 "Like Chickenman I'm everywhere",
 'The Unigov',
 nan,
 'Vancouver',
 'ÌÅ¨Î¶¨Ïä§l38l57lÏò§ÌÇ§ÌÉÄlÏÜåÏÑúlÏÜåÏÑúDlÎ•òÏ°∞P',
 nan,
 'Australia',
 nan,
 nan,
 nan,
 'California',
 'Florida, USA',
 nan,
 'OBX, NC',
 nan,
 nan,
 nan,
 nan,
 'Nebraska, USA',
 nan,
 'Melbourne, Australia',
 nan,
 'Louisiana, USA',
 "Saturn's rings, just deeper",
 'Maryland, USA',
 'Heaven',
 'Indonesia',
 'Republic of Serbia',
 'Canada',
 nan,
 nan,
 'Trujillo, Per√∫',
 'Ludwigshafen',
 nan,
 nan,
 'cloud',
 'Meddybemps, ME',
 nan,
 'Minnesota, USA',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Tallahasssee, Florida',
 nan,
 'Brooklyn, NY',
 nan,
 nan,
 'Naija',
 'USA',
 'Paris, France',
 nan,
 'I : ÏûêÎ™ΩÎãò Ïª¥ÏÖò H : @_y_chilÎãò Ïª¥ÏÖò',
 'The Great Smoky Mountains, USA',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Cape Cracka, NC',
 nan,
 nan,
 nan,
 'United States',
 nan,
 'here and there',
 nan,
 'California',
 nan,
 nan,
 nan,
 nan,
 'Annapolis, MD',
 nan,
 'Los Angeles, CA',
 nan,
 'Fort Lauderdale, FL',
 nan,
 nan,
 nan,
 'ÿ™Ÿáÿ±ÿßŸÜ',
 'Lima',
 nan,
 'Japan',
 'Atlanta, GA',
 nan,
 nan,
 'Dallas, TX',
 'cloud',
 nan,
 nan,
 'Gilbert, AZ',
 'Hawthorn Woods, IL',
 nan,
 nan,
 'Las Noches, Hueco Mundo',
 nan,
 'Dallas, TX',
 nan,
 'ghana ',
 nan,
 nan,
 nan,
 nan,
 'Miami ',
 nan,
 'California, USA',
 'Venezuela',
 nan,
 nan,
 'New York, USA',
 'SOMEWHERE IN JUPITER',
 nan,
 nan,
 'Canada',
 'Nanterre, France',
 'St Paul, MN',
 'Kentucky, USA',
 'Ile-de-France, France',
 'United States',
 'Alabama, USA',
 'USA',
 nan,
 nan,
 'Canada',
 'Big bad city, East Coast USA',
 'GA',
 'California, USA',
 nan,
 'European Union/Born in Athens',
 'Frostburg, MD',
 nan,
 'Paris, France',
 'San Jose, CA (Silicon Valley)',
 nan,
 'Atlanta',
 'Carson, CA',
 'Tennessee, USA',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Virginia, USA',
 nan,
 '#MAGA  CONGRESS YOU WORK FOR US - DO YOUR JOB!',
 nan,
 'they/she ‚Ä¢ kurdish iranian ! ',
 'Barberton, South Africa',
 'boandsunny',
 nan,
 'Not Russia ',
 'Den Haag, Nederland',
 'Los Angeles, CA',
 nan,
 'here, now',
 'Ontario, Canada',
 nan,
 nan,
 'Atlanta',
 'Arkansas',
 'Tilburg, Nederland',
 'Volta Redonda, Brasil',
 nan,
 nan,
 'U.S.A.',
 nan,
 'R.i.p @logan8yearold',
 'Valencia',
 nan,
 'Atlanta',
 'Orange County, CA',
 'Virginia',
 nan,
 nan,
 nan,
 'San Jose, CA (Silicon Valley)',
 'Vial #69, Wuhan, West Taiwan',
 'Clom',
 'Shine Land ',
 nan,
 nan,
 nan,
 'Geraldton, Western Australia',
 nan,
 'Richmond Kentucky',
 nan,
 '\u200e‚ùõ üî• . . . ùê∞.Œ±terglo…Ø dƒ± ùê•.unŒ±. ‚îà ùíÖemon fƒ±re ƒ±s Œ±ll —áou desƒ±re. ‚Ä∫ ùíÖemon fƒ±re, get closer, fƒ±re. Ÿ´ ‚ù™ beetlejuƒ±ce & m—ástƒ±cŒ±l sŒ±lŒ±mŒ±nder ',
 'Denver, CO',
 'Free Speech Union member',
 nan,
 nan,
 'Washington, D.C. & TEXAS!',
 ', Bloomington  Indiana ',
 nan,
 'India',
 'Charleston, WV',
 'Texas',
 nan,
 'S√£o Paulo, Brasil',
 'Buffalo, New York',
 nan,
 nan,
 nan,
 'Tampa, FL',
 'South Carolina, USA',
 'Iberoam√©rica',
 'Houston, TX',
 nan,
 nan,
 nan,
 'M√©xico',
 'Pinehurst, NC',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Seoul, Korea',
 nan,
 'Rionegro Antioquia',
 nan,
 nan,
 'Reno, NV',
 'Providence, RI',
 'Houston, TX',
 nan,
 nan,
 'Memphis,TN, USA',
 'Colusa,  CA',
 nan,
 nan,
 'New Jersey, USA',
 'Saint Cloud, FL',
 'mother üåé',
 nan,
 'Miami, FL',
 'New York, USA',
 'Everywhere',
 nan,
 'Litchfield Park, AZ',
 'it/its + bugself',
 nan,
 'Tampa, FL',
 'Vikings Fans Tiny Brains üß† ',
 'Florian√≥polis, Brasil',
 nan,
 nan,
 nan,
 "Somewhere that's Nowhere...",
 nan,
 'Cambridge, MA',
 nan,
 nan,
 'Texas, USA',
 '√Ñ',
 'Pennsylvania, USA',
 nan,
 nan,
 nan,
 'Lenoir City TN',
 nan,
 nan,
 nan,
 'she/her',
 nan,
 nan,
 nan,
 'Little Elm, TX',
 nan,
 'Orange County, CA',
 nan,
 'Mineapolis, USA',
 nan,
 nan,
 'top of some mountain (maybe}',
 'Knoxville, TN',
 nan,
 nan,
 'New York',
 'Wheeling, WV',
 nan,
 'London, UK',
 'TexasüòÅ',
 nan,
 'Salt Lake City, UT',
 'Goi√¢nia',
 nan,
 'Chicago suburbs',
 'Alsace, France',
 'Midgard',
 'Indianapolis, IN',
 nan,
 'Montana, USA',
 nan,
 'North Carolina, USA',
 'Culver City, CA',
 nan,
 '806',
 nan,
 nan,
 'NE FL',
 nan,
 'Dark side of the moon',
 'CA',
 'Santa Monica, CA',
 "ur mom's house",
 'Michigan, USA',
 'Jackson, TN',
 nan,
 'United States',
 nan,
 'Lexington Ky / Ft. Lauderdale ',
 'Austin, Texas',
 'Vista, CA',
 'USA',
 nan,
 ' ',
 nan,
 'Tucson, AZ',
 nan,
 nan,
 'Staunton, VA',
 nan,
 nan,
 nan,
 nan,
 'Thomasville, GA USA ',
 'EL MUNDO',
 'The Internet',
 ' The Keystone State',
 'LOS ANGELES',
 nan,
 nan,
 'California, USA',
 'Lekki, Lagos, Nigeria',
 nan,
 'Florida, USA',
 nan,
 'Bergisch Gladbach, Deutschland',
 nan,
 'Gilead',
 nan,
 nan,
 'Cromwell, CT',
 nan,
 'Alsace, France',
 nan,
 'Phobos y Deimos',
 'Tennessee',
 nan,
 'Balls Deep In Your Dad‚Äôs Ass',
 nan,
 'USA',
 nan,
 'Buford, GA',
 'Dans Ton Slip',
 'London',
 'Manaus',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Miami Beach. Fl',
 'USA',
 nan,
 nan,
 nan,
 nan,
 'Somewhere Downriver, MI',
 'Patagonia, Arizona',
 nan,
 'Illinois, USA',
 'Conde, Brasil',
 'United States',
 'Pe√±alol√©n, Chile',
 nan,
 'My House',
 nan,
 'UNIVERSE',
 'San Diego',
 'probably Portland, Oregon',
 'Ruhrpott, NRW ',
 'Richmond , Virginia',
 nan,
 'Richmond, IN',
 'Switzerland',
 'Calgary, Alberta, Canada',
 nan,
 nan,
 'USA',
 'Talkeetna, Alaska',
 nan,
 nan,
 'Illinois, USA',
 nan,
 nan,
 nan,
 nan,
 'Hoboken, NJ',
 'Austin, TX',
 'Ciudad Aut√≥noma de Buenos Aire',
 'Argentina',
 'quebec',
 nan,
 'Norwich, UK',
 'United States',
 'Galiza üíô',
 nan,
 nan,
 'The cloud',
 'NC',
 'Florida, USA',
 'Port St Lucie, FL',
 nan,
 nan,
 'United States',
 'orlando',
 'Gulag of Washington state ',
 'Risa, Alpha-Quadrant',
 nan,
 nan,
 nan,
 'Florida, USA',
 nan,
 'Somewhere with new in it.',
 nan,
 'Vancouver Island, BC üá®üá¶',
 'St Charles, MO',
 nan,
 nan,
 nan,
 nan,
 'United States',
 'Alsace, France',
 'Silly Philly, Chitown, NYC ',
 ' USA',
 'FEMA Region 2 ',
 nan,
 'Somewhere...Mother Earth...',
 nan,
 nan,
 'California',
 nan,
 'My Imagination',
 nan,
 'New York, USA',
 'TN',
 nan,
 'Ohio',
 'Georgia, USA',
 nan,
 nan,
 'Virginia, USA',
 'Juneau, AK',
 'Minnesota, USA',
 'New Orleans, LA',
 nan,
 'Utah, USA',
 nan,
 'Virginia, USA',
 nan,
 'An Undisclosed Bomb Shelter',
 'Norcal',
 'Recife',
 'eng/ina || 00L',
 'the space between',
 'nederland',
 'Colorado and Points Left',
 nan,
 nan,
 nan,
 nan,
 'Russia',
 'Playa del Carmen QR',
 nan,
 nan,
 'Texas',
 nan,
 nan,
 'Texas, USA',
 'Belfast, Northern Ireland',
 nan,
 'Northern CA',
 'United States',
 'USA',
 'somewhere',
 'MARACAIBO. VENEZUELA',
 'Roslindale, Boston',
 nan,
 'Pennsylvania, USA',
 'United States',
 nan,
 nan,
 'San Rafael, CA',
 'Colorado, USA',
 nan,
 'SAN LUIS SOYATL√ÅN Guadalajara ',
 'Rockland county, NY',
 'Bismarck, North Dakota',
 'Somewhere in hell USA',
 'Wauwatosa, WI',
 'Montr√©al, Qu√©bec',
 'San Francisco, CA',
 'Pennsylvania, USA',
 nan,
 'Big Bear Lake, CA',
 'Melmac',
 'Florida  ',
 'Clifton, Virginia',
 'Carlsbad, CA',
 'Age of Aquarius',
 'Coquitlam, British Columbia',
 nan,
 nan,
 'British Columbia, Canada',
 'on Kaurna Land ',
 'Pennsylvania, USA',
 nan,
 'New York, NY',
 nan,
 nan,
 'Oklahoma City',
 'Jersey',
 'Mayberry USA',
 nan,
 'Funny Farm',
 nan,
 nan,
 nan,
 'Stalybridge. UK',
 nan,
 nan,
 'Earth',
 nan,
 nan,
 'Florida, USA',
 nan,
 'Lovely upstate N.Y.',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'XCIV_Hawaii',
 nan,
 nan,
 nan,
 'New York',
 'North Carolina, USA',
 'Perth, Western Australia',
 'Cleaning litter Boxes',
 nan,
 'USA',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Always seem to be in Flyover Country',
 'New York, NY',
 'Homebush NSW',
 'England, United Kingdom',
 nan,
 nan,
 nan,
 'United States',
 'Toronto, Ontario',
 nan,
 'Michigan, USA',
 nan,
 'Huntington Beach, CA',
 nan,
 nan,
 'Detroit, MI',
 'watching tv',
 'Salt Lake City, UT',
 nan,
 'Washington, DC',
 nan,
 'Alberta Canada',
 'United States',
 'My bedroom',
 'Oregon, USA',
 'New Zealand',
 'Montreal, Canada',
 nan,
 nan,
 'Arizona, USA',
 'Brooklyn ',
 nan,
 'United States',
 'XCIV_Hawaii',
 'Florida',
 'Earth',
 'he/him',
 'Baton Rouge, LA',
 '‚ò£Ô∏è Saskatchewan, Canada üá®üá¶ ',
 nan,
 nan,
 'Houston, TX',
 'Êó•Êú¨',
 nan,
 nan,
 'MI',
 'Texas, USA',
 'Lake View, NY',
 nan,
 nan,
 'Qu√©bec, Canada',
 nan,
 'Toronto',
 nan,
 'Texas, USA',
 'Nelspruit, South Africa',
 nan,
 nan,
 'Santa Fe, NM',
 'M√©xico',
 nan,
 nan,
 'NJ',
 nan,
 'United States',
 'IRL',
 nan,
 nan,
 'CIA Langley',
 nan,
 nan,
 nan,
 'United States',
 nan,
 'London',
 'Milky way',
 'Skynet in cloud Ôºè Ê∏ØÂå∫Èúû„ÅåÈñ¢',
 nan,
 'British Columbia, Canada',
 'Chicago',
 'San Francisco, California',
 'El platanal',
 'L.A.',
 nan,
 nan,
 nan,
 'Lankhmar üá∫üá¶',
 nan,
 'Spring, Texas',
 nan,
 'texas',
 nan,
 nan,
 'Boston,Mass',
 nan,
 'United States',
 'New Haven CT',
 nan,
 nan,
 nan,
 'Huddersfield, England',
 nan,
 'fly over state, usa',
 nan,
 'New York, USA',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'California, USA',
 'new york city',
 nan,
 'Avignon, France',
 nan,
 nan,
 'Dublin, Ireland',
 nan,
 'Rockville, MD',
 'Staffordshire',
 nan,
 nan,
 'Charleston, IL',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'La La Land',
 'Alabama, USA',
 nan,
 nan,
 'Canada',
 'Chicago, IL',
 '√úT: 10.492412,-66.915757',
 'Ottawa, Canada',
 'Bretagne',
 'Vancouver, BC Canada',
 'Europe',
 'Islamische faschiste Republik',
 'United States üá∫üá∏',
 nan,
 nan,
 nan,
 'Boise, Idaho']

In [20]:
df['Country'] = df['location']

# define the function that will clean the location column
def clean_location(x):
    if isinstance(x, str):
        # remove emoji using regular expressions
        x = re.sub(r'[^\w\s]', '', x)
        # remove leading and trailing white space
        x = x.strip()
        return x
    return None

# apply the function to the location column
df["Country"] = df["Country"].apply(clean_location)

# drop rows with NaN values in the location column
#df.dropna(subset=["Country"], inplace=True)
df['Country']

0                      Alsace France
1                               None
2                     ÊüèKashiwa Japan
3      GOODBYE IL HELLO Knoxville TN
4                      San Francisco
                   ...
795                    United States
796                             None
797                             None
798                             None
799                      Boise Idaho
Name: Country, Length: 800, dtype: object

In [34]:
# create the Nominatim object
geolocator = Nominatim(user_agent="my_app")

# define the function that will get the country from the location
def get_country(x):
    if isinstance(x, str) and x != 'None':
        # use the Nominatim object to get the location's coordinates
        try:
            location = geolocator.geocode(x)
            if location:
                # return the country name from the location object
                country = location.raw["display_name"].split(", ")[-1]
                return country
        except Exception:
            return None
    return None

# apply the function to the location column and store the result in the new 'Country' column
df["Country_real"] = df["Country"].apply(get_country)
df["Country_real"]

0             France
1               None
2               None
3               None
4      United States
           ...
795    United States
796             None
797             None
798             None
799    United States
Name: Country_real, Length: 800, dtype: object

In [35]:
df["Country_real"].unique()

array(['France', None, 'United States', 'Canada', 'Malawi', 'ŒïŒªŒªŒ¨œÇ',
       'Panam√°', 'South Africa', 'Australia', 'Brasil', 'United Kingdom',
       'Indonesia', '–°—Ä–±–∏—ò–∞', 'Per√∫', 'Deutschland', 'Niger', 'ÿß€åÿ±ÿßŸÜ',
       'Êó•Êú¨', 'Ghana', 'Venezuela', 'Gabon', '–†–æ—Å—Å–∏—è', 'Nederland',
       'Vi·ªát Nam', 'Espa√±a', 'India', 'Ecuador', 'M√©xico', 'ÎåÄÌïúÎØºÍµ≠',
       'Colombia', 'Danmark', 'Shqip√´ria', 'Ëá∫ÁÅ£', 'Nigeria', 'Chile',
       'Philippines', 'Schweiz/Suisse/Svizzera/Svizra', 'Argentina',
       'Uganda', 'Malaysia', 'ÿ™ŸàŸÜÿ≥', '‰∏≠ÂõΩ', 'Jamaica', 'Jersey',
       'New Zealand / Aotearoa', 'Sesel', '√âire / Ireland', '≈åu'],
      dtype=object)

In [42]:
df["Country_real"].value_counts()

United States                     228
Canada                             28
United Kingdom                     13
France                             11
Australia                          10
Brasil                              8
Deutschland                         4
M√©xico                              4
Nederland                           4
South Africa                        4
Espa√±a                              3
Danmark                             2
India                               2
Indonesia                           2
Per√∫                                2
Êó•Êú¨                                  2
Colombia                            2
Venezuela                           2
Argentina                           2
–†–æ—Å—Å–∏—è                              2
‰∏≠ÂõΩ                                  2
Schweiz/Suisse/Svizzera/Svizra      1
Uganda                              1
Malaysia                            1
Jamaica                             1
ÿ™ŸàŸÜÿ≥                                1
Chile                               1
Jersey                              1
New Zealand / Aotearoa              1
Sesel                               1
√âire / Ireland                      1
Philippines                         1
–°—Ä–±–∏—ò–∞                              1
Nigeria                             1
Ëá∫ÁÅ£                                  1
Shqip√´ria                           1
ÎåÄÌïúÎØºÍµ≠                                1
Malawi                              1
Ecuador                             1
ŒïŒªŒªŒ¨œÇ                               1
Vi·ªát Nam                            1
Panam√°                              1
Gabon                               1
Ghana                               1
ÿß€åÿ±ÿßŸÜ                               1
Niger                               1
≈åu                                  1
Name: Country_real, dtype: int64

In [51]:
def extract_compound(x):
    return eval(x)['compound']

df['Compound'] = df["score"].apply(extract_compound)

In [53]:
df

,tweet,date,id,location,id_user,score,Country,Country_real,Compound
0,https://t.co/SHqdpbP3PY : ffdfb166-c9e9-46c2-a...,2022-12-06 23:59:59+00:00,1600278915435601927,"Alsace, France",2669983818,"{'neg': 0.179, 'neu': 0.821, 'pos': 0.0, 'comp...",Alsace France,France,-0.5423
1,RT @FDRLST: Why Elon Musk‚Äôs ‚ÄòTwitter Files‚Äô Ma...,2022-12-06 23:59:59+00:00,1600278912676032512,NaN,1597982202800873473,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",None,None,0.0000
2,RT @mtaibbi: @bariweiss The news that Baker wa...,2022-12-06 23:59:58+00:00,1600278910474027008,"Êüè/Kashiwa, Japan",18410208,"{'neg': 0.0, 'neu': 0.879, 'pos': 0.121, 'comp...",ÊüèKashiwa Japan,None,0.0258
3,RT @JackPosobiec: BREAKING: Elon Musk slams Wi...,2022-12-06 23:59:58+00:00,1600278908825260033,GOODBYE IL- HELLO Knoxville TN,1382804248019226630,"{'neg': 0.0, 'neu': 0.917, 'pos': 0.083, 'comp...",GOODBYE IL HELLO Knoxville TN,None,0.2263
4,@AlanVRK @TheBigFoxx @lrozen @lorakolodny The ...,2022-12-06 23:59:57+00:00,1600278906329710593,San Francisco,1345945975,"{'neg': 0.072, 'neu': 0.928, 'pos': 0.0, 'comp...",San Francisco,United States,-0.1027
...,...,...,...,...,...,...,...,...,...
795,Elon Musk Is a Far-Right Activist - The Atlant...,2022-12-13 16:10:48+00:00,1602697556986777600,United States üá∫üá∏,15870659,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",United States,United States,0.0000
796,RT @Ramnier: Todo sobre los #TwitterFiles segu...,2022-12-13 16:10:48+00:00,1602697556957462529,NaN,222689246,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",None,None,0.0000
797,RT @ericareport: Do we all share the opinion t...,2022-12-13 16:10:48+00:00,1602697556705828864,NaN,1178065682,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",None,None,0.0000
798,RT @AdamParkhomenko: They attack heroes like A...,2022-12-13 16:10:48+00:00,1602697556479586305,NaN,1476322766311739393,"{'neg': 0.0, 'neu': 0.648, 'pos': 0.352, 'comp...",None,None,0.7650
799,"RT @PlainSite: 6. Musk and his second ex-wife,...",2022-12-13 16:10:48+00:00,1602697555342921728,"Boise, Idaho",45756906,"{'neg': 0.108, 'neu': 0.594, 'pos': 0.297, 'co...",Boise Idaho,United States,0.6597

In [54]:
df.to_csv('FINAL_NEW.csv')

In [ ]:
#Cleaning TESLA Perception

In [3]:
tesla_perception = pd.read_csv('tweets_last_seven_days_TESLA.csv')

In [4]:
tesla_perception

,tweet,date,id,location,id_user,score
0,"The once lambasted electric vehicle hippie, in...",2022-12-07 23:59:57+00:00,1600641295512371201,"Bossier City, LA",118933311,"{'neg': 0.0, 'neu': 0.822, 'pos': 0.178, 'comp..."
1,RT @spin9: ‡πÄ‡∏õ‡∏¥‡∏î‡∏£‡∏≤‡∏Ñ‡∏≤ Tesla ‡∏≠‡∏¢‡πà‡∏≤‡∏á‡πÄ‡∏õ‡πá‡∏ô‡∏ó‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ô‡πÑ‡∏ó‡∏¢...,2022-12-07 23:59:56+00:00,1600641290189697024,NaN,398718149,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,@MKBHD were you just at a Tesla dealer in King...,2022-12-07 23:59:56+00:00,1600641287379623936,48th Floor,1576524990,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,@RT_com's account has been withheld in Belgium...,2022-12-07 23:59:55+00:00,1600641284518993920,Heaven,2287197110,"{'neg': 0.033, 'neu': 0.873, 'pos': 0.094, 'co..."
4,RT @LucaBet_123Plus: ‚úÖ ‡∏Å‡∏î‡∏£‡∏µ‡∏ó‡∏ß‡∏¥‡∏ï ‡∏Å‡∏î‡∏ï‡∏¥‡∏î‡∏ï‡∏≤‡∏° ‡∏´‡∏±‡∏ß‡πÉ...,2022-12-07 23:59:50+00:00,1600641265049092097,NaN,1533269401989832706,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
...,...,...,...,...,...,...
1595,@OliverSays2 @mmpadellan It's ok... no-one for...,2022-12-14 11:53:10+00:00,1602995107908800513,NaN,1473678809178202118,"{'neg': 0.0, 'neu': 0.796, 'pos': 0.204, 'comp..."
1596,@Tesla best thing tesla has ever done,2022-12-14 11:53:08+00:00,1602995099922735107,NaN,1566616232073338882,"{'neg': 0.0, 'neu': 0.588, 'pos': 0.412, 'comp..."
1597,"RT @FlyHighPrime: Hey #DogeFam, ready for a #1...",2022-12-14 11:53:08+00:00,1602995097561595904,Brunei,1439885464836579330,"{'neg': 0.0, 'neu': 0.839, 'pos': 0.161, 'comp..."
1598,"RT @elonmusk: You can play Cyberpunk, Elden Ri...",2022-12-14 11:53:07+00:00,1602995094566883334,Earth,1538075942492549121,"{'neg': 0.0, 'neu': 0.87, 'pos': 0.13, 'compou..."
1599,@jwapatalchul @ohmahahm „Öã„Öã„Öã„Öã„Öã Í∑∏Îü¨Îäî Í∑∏ÎåÄÎäî ÎÇòÎ≥¥Îã§ Îçî ÎßéÏùÄ...,2022-12-14 11:53:06+00:00,1602995092255813632,NaN,1387189164920082436,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [5]:
tesla_perception['Country'] = tesla_perception['location']

# define the function that will clean the location column
def clean_location(x):
    if isinstance(x, str):
        # remove emoji using regular expressions
        x = re.sub(r'[^\w\s]', '', x)
        # remove leading and trailing white space
        x = x.strip()
        return x
    return None

# apply the function to the location column
tesla_perception["Country"] = tesla_perception["Country"].apply(clean_location)

# drop rows with NaN values in the location column
#df.dropna(subset=["Country"], inplace=True)
tesla_perception['Country']

0       Bossier City LA
1                  None
2            48th Floor
3                Heaven
4                  None
             ...
1595               None
1596               None
1597             Brunei
1598              Earth
1599               None
Name: Country, Length: 1600, dtype: object

In [6]:
# create the Nominatim object
geolocator = Nominatim(user_agent="my_app")

# define the function that will get the country from the location
def get_country(x):
    if isinstance(x, str) and x != 'None':
        # use the Nominatim object to get the location's coordinates
        try:
            location = geolocator.geocode(x)
            if location:
                # return the country name from the location object
                country = location.raw["display_name"].split(", ")[-1]
                return country
        except Exception:
            return None
    return None

# apply the function to the location column and store the result in the new 'Country' column
tesla_perception["Country_real"] = tesla_perception["Country"].apply(get_country)
tesla_perception["Country_real"]

0        United States
1                 None
2                 None
3       United Kingdom
4                 None
             ...
1595              None
1596              None
1597            Brunei
1598     United States
1599              None
Name: Country_real, Length: 1600, dtype: object

In [7]:
def extract_compound(x):
    return eval(x)['compound']

tesla_perception['Compound'] = tesla_perception["score"].apply(extract_compound)

In [9]:
tesla_perception

,tweet,date,id,location,id_user,score,Country,Country_real,Compound
0,"The once lambasted electric vehicle hippie, in...",2022-12-07 23:59:57+00:00,1600641295512371201,"Bossier City, LA",118933311,"{'neg': 0.0, 'neu': 0.822, 'pos': 0.178, 'comp...",Bossier City LA,United States,0.5994
1,RT @spin9: ‡πÄ‡∏õ‡∏¥‡∏î‡∏£‡∏≤‡∏Ñ‡∏≤ Tesla ‡∏≠‡∏¢‡πà‡∏≤‡∏á‡πÄ‡∏õ‡πá‡∏ô‡∏ó‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ô‡πÑ‡∏ó‡∏¢...,2022-12-07 23:59:56+00:00,1600641290189697024,NaN,398718149,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",None,None,0.0000
2,@MKBHD were you just at a Tesla dealer in King...,2022-12-07 23:59:56+00:00,1600641287379623936,48th Floor,1576524990,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",48th Floor,None,0.0000
3,@RT_com's account has been withheld in Belgium...,2022-12-07 23:59:55+00:00,1600641284518993920,Heaven,2287197110,"{'neg': 0.033, 'neu': 0.873, 'pos': 0.094, 'co...",Heaven,United Kingdom,0.4215
4,RT @LucaBet_123Plus: ‚úÖ ‡∏Å‡∏î‡∏£‡∏µ‡∏ó‡∏ß‡∏¥‡∏ï ‡∏Å‡∏î‡∏ï‡∏¥‡∏î‡∏ï‡∏≤‡∏° ‡∏´‡∏±‡∏ß‡πÉ...,2022-12-07 23:59:50+00:00,1600641265049092097,NaN,1533269401989832706,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",None,None,0.0000
...,...,...,...,...,...,...,...,...,...
1595,@OliverSays2 @mmpadellan It's ok... no-one for...,2022-12-14 11:53:10+00:00,1602995107908800513,NaN,1473678809178202118,"{'neg': 0.0, 'neu': 0.796, 'pos': 0.204, 'comp...",None,None,0.5574
1596,@Tesla best thing tesla has ever done,2022-12-14 11:53:08+00:00,1602995099922735107,NaN,1566616232073338882,"{'neg': 0.0, 'neu': 0.588, 'pos': 0.412, 'comp...",None,None,0.6369
1597,"RT @FlyHighPrime: Hey #DogeFam, ready for a #1...",2022-12-14 11:53:08+00:00,1602995097561595904,Brunei,1439885464836579330,"{'neg': 0.0, 'neu': 0.839, 'pos': 0.161, 'comp...",Brunei,Brunei,0.3612
1598,"RT @elonmusk: You can play Cyberpunk, Elden Ri...",2022-12-14 11:53:07+00:00,1602995094566883334,Earth,1538075942492549121,"{'neg': 0.0, 'neu': 0.87, 'pos': 0.13, 'compou...",Earth,United States,0.4559
1599,@jwapatalchul @ohmahahm „Öã„Öã„Öã„Öã„Öã Í∑∏Îü¨Îäî Í∑∏ÎåÄÎäî ÎÇòÎ≥¥Îã§ Îçî ÎßéÏùÄ...,2022-12-14 11:53:06+00:00,1602995092255813632,NaN,1387189164920082436,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",None,None,0.0000

In [13]:
tesla_perception.to_csv('TESLA_Last7days.csv')